.landingpage{
    background-image: url("./images/h_img.jpg");
    background-size: cover;
    color: white;
}
.services{
    background-image: url(./images/s_image.jpg);
    background-size: cover;
    color: white;
}
.col-md-3{
    padding: 10px;
}
form{
    background-image: url(./images/c_image.jpg);
    background-size: cover;
}
#design{
    display: none;

}
#development{

    display: none;
}
#productmng{
    display: none;

}