.landingpage{
    background-image: url("./images/h_img.jpg");
    background-size: cover;
    color: white;
}
.services{
    background-image: url(./images/s_image.jpg);
    background-size: cover;
    color: white;
}
.col-md-3{
    padding: 10px;
}
form{
    background-image: url(./images/c_image.jpg);
    background-size: cover;
}
img{
    cursor: pointer;
}
.contact{
    color: black;
    opacity: 50%;
}
form{
    display: block;
    text-align: center;
}
.delani{
    color: white;
    background-color:black;
    opacity:50%;
    width: 250px;
    height: 200px;
    font-weight: bold;
}
#footer{
    text-align: center;
    padding: 25px;
}
.fa{
    padding: 10px;
    background-color: tomato;
    border-color: black 5px;
    border-radius: 50%;
    color: white;
}
